
:root{
  --primary-color: #191f26;
  --secondary-color: #131920;
  --sub-white: #d2d2da;
  --white:#fff;
  --green: #27a58a;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kodchasan', sans-serif;
}
.container{
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
  position: relative;
  background-color: var(--primary-color);
  font-family: 'Kodchasan', sans-serif;
}
.dark{
  background-color: var(--secondary-color);
}
.top-bar{
  width: 90%;
  margin: auto;
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar img{
  width: 2.5rem;
}
.top-bar ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar ul li{
  display: inline-block;
  margin-right: 1rem;
}
.top-bar ul li a{
  text-decoration: none;
  color: var(--white);
}
.top-bar ul li a:hover{
  color: var(--green);
}
.menu{
  display: none;
  cursor: pointer;
}
.sidebar{
  display: none;
  position: absolute;
  position: fixed;
  background-color: var(--secondary-color);
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 1px -1px 28px rgba(44, 59, 56, 0.4);
}
.sidebar nav ul li{
  display: flex;
  flex-direction: column;
}
.sidebar nav ul li a{
  text-decoration: none;
  color: var(--green);
  margin-bottom: 1.5rem;
}
.sidebar nav ul li img{
  width: 2.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.introduction{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 80%;
  margin: 4rem auto;
  align-items: center;
  justify-content: center;
}
.intro-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--white);
}
.intro-text p:first-child{
  font-size: 1.2rem;
}
.intro-text p:first-child span{
  color: var(--green);
}
.intro-text p:nth-last-child(3){
  color: var(--green);
  font-size: 2.4rem;
  font-weight: 700;
}
.intro-text p:nth-last-child(2){
  font-size: 1.4rem;
  font-weight: 500;
}
.intro-text p:nth-last-child(1){
  color: var(--sub-white);
  font-size: 1rem;
  max-width: 80%;
}
.intro-img img{
  width: 20rem;
}
.heading{
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 40%;
  margin: 2rem auto;
}
.heading-bar{
  width: 4rem;
  height: .4rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--green);
}
.heading p{
  font-size: 1.4rem;
  color: var(--white);
  font-weight: 500;
}
.about{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 auto;
  align-items: center;
  justify-content: center;
}
.self-intro{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  gap: 4rem;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}
.profile-pic img{
  width: 11rem;
  background: transparent;
}
.profile-text{
  display: flex;
  flex-direction: column;
  flex: 50%;
  color: var(--white);
  gap: 1rem;
}
.profile-text p:first-child{
  color: var(--green);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.profile-text a{
  font-size: 1rem;
  font-weight: 600;
  max-width: 8rem;
  height: 2rem;
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--green);
  border-radius: .6rem;
  margin-top: 1rem;
  cursor: pointer;
}
.links{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  gap: 2.5rem;
  margin: 1rem auto;
  justify-content: flex-start;
}
.link-set p{
  color: var(--green);
  font-size: 1.2rem;
  margin-bottom: .8rem;
}
.link-set p:last-child{
  color: var(--white);
  font-size: 1rem;
}
.link-set a{
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
  margin: 1rem auto;
  margin-bottom: 4rem;
  justify-content: flex-start;
}
.skills p{
  font-size: 1.2rem;
  color: var(--green);
}
.skills ul{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.skills ul li{
  list-style: none;
  color: var(--white);
  display: inline-block;
  font-size: 1rem;
}
.project{
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.project-info{
  position: relative;
  display: flex;
  width: 60%;
  height: 20rem;
  margin: 2rem auto;
  gap: 2rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.set-1{
  flex-wrap: wrap;
}
.set-2{
  flex-wrap: wrap-reverse;
}
.info-text p:first-child{
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 1.4rem;
}
.info-text a{
  text-decoration: none;
  color: var(--green);
  font-size: 2rem;
  font-weight: 600;
}
.info-text p:nth-last-child(1){
  color: var(--white);
  font-size: 1rem;
  font-style: italic;
  margin-top: 1rem;
  max-width: 20rem;
}
.project-thumbnail{
  width: auto;
}
.project-thumbnail a img{
  width: 15rem;
}
.thumbnail-set{
  width: 8rem;
  height: 15rem;
  position: relative;
  overflow: visible;
  right: 1rem;
  margin-right: 7rem;
}
.thumbnail-set img{
  width: 9rem;
  height: 17rem;
  margin-bottom: 2rem;
  cursor: pointer;
  overflow: visible;
  background: transparent;
}
.thumbnail-set a:nth-last-child(4){
  scale: 1;
  position: absolute;
  left: 6rem;
  top: -0.5rem;
  transform: rotate(40deg);
}
.thumbnail-set a:nth-last-child(3){
  scale: 0.95;
  position: absolute;
  left: 4rem;
  top: 0rem;
  transform: rotate(30deg);
}
.thumbnail-set a:nth-last-child(2){
  scale: 0.89;
  position: absolute;
  left: 2rem;
  top: 0.5rem;
  transform: rotate(15deg);
}
.thumbnail-set a:last-child{
  scale: 0.85;
  position: absolute;
  left: 0;
  top:1.5rem;
  transform: rotate(0deg);
}
.thumbnail-set img:hover{
  scale: 1.1;
}
.js-projects-text{
  position: relative;
  left: 4rem;
}
.js-projects-text p:nth-last-child(1){
  color: var(--sub-white);
  font-size: .8rem;
}
.contact{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  gap: 2rem;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
}
.contact-section{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 10%;
  margin: .5rem auto;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.form{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input-set{
  position: relative;
}
.input-set input{
  position: relative;
  padding: 1rem;
  width: 20rem;
  margin: .8rem 0;
  background-color: transparent;
  border: .1rem solid var(--green);
  border-radius: .4rem;
  color: var(--white);
  font-size: 1rem;
  outline: none;
}
label{
  position: absolute;
  font-size: .8rem;
  color: #27A58A;
  padding: .1rem .4rem;
  top: .2rem;
  left: 1rem;
  background-color: var(--secondary-color);
  border-left: .1rem solid var(--green);
  border-right: .1rem solid var(--green);
}
.form button{
  background-color: var(--green);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  margin-top: 1.5rem;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
}
.form button:hover{
  padding: 0.5rem 1.3rem;
}
.contact-text{
  color: var(--white);
}
.contact-text p:first-child{
  color: var(--green);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact-links{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
}
.link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.link img{
  width: 1rem;
  margin-right: .8rem;
}
.link p,
.link a{
  color: var(--white);
  font-size: 1rem;
}
.link a{
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 880px){
  .top-bar ul li{
    display: none;
  }
  .menu{
    display: inline-block;
  }
  .project{
    margin: 5rem auto;
  }
  .project-info{
    margin: 4rem auto;
    gap: 3rem;
  }
  .js-projects-text{
    left: 1rem;
  }
}